In [1]:
# Establish a connection between Python and the Sakila database.

import pandas as pd
import numpy as np

import pymysql                        # for getting data from a SQL database
from sqlalchemy import create_engine  # for establishing the connection and authentication

from getpass import getpass  # To get the password without showing the input

In [2]:
password = getpass()

 ········

In [3]:
print(password)

acef1357!

In [4]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [6]:
# Write a Python function called rentals_month that retrieves rental data for a given month and year (passed as parameters) from the Sakila database as a Pandas DataFrame. The function should take in three parameters:

def rentals_month(en, m, y):
    en = create_engine(en)
    query = 'SELECT * FROM sakila.rental WHERE MONTH(rental_date) =' + str(m) + ' AND YEAR(rental_date) =(' + str(y) + ')'
    print(query)
    data = pd.read_sql_query(query, engine)
    return data

may = rentals_month('mysql+pymysql://root:'+ password + '@localhost/sakila', 5, 2005)
june = rentals_month('mysql+pymysql://root:'+ password + '@localhost/sakila', 6, 2005)
july = rentals_month('mysql+pymysql://root:'+ password + '@localhost/sakila', 7, 2005)

SELECT * FROM sakila.rental WHERE MONTH(rental_date) =5 AND YEAR(rental_date) =(2005)
SELECT * FROM sakila.rental WHERE MONTH(rental_date) =6 AND YEAR(rental_date) =(2005)
SELECT * FROM sakila.rental WHERE MONTH(rental_date) =7 AND YEAR(rental_date) =(2005)

In [8]:
# Develop a Python function called rental_count_month that takes the DataFrame 
# provided by rentals_month as input along with the month and year and returns a 
# new DataFrame containing the number of rentals made by each customer_id during the 
# selected month and year.
# The function should also include the month and year as parameters and use them 
# to name the new column according to the month and year, for example, if the input 
# month is 05 and the year is 2005, the column name should be "rentals_05_2005".

def rental_count_month(df, m, y):
    column_title = "rentals_" + str(m) + "_" + str(y)
    grouped = df.groupby('customer_id')
    rental_counts = grouped['rental_id'].count()
    data_df = rental_counts.to_frame(name=column_title)
    return data_df

may_rent_count = rental_count_month(may, 5, 2005)
june_rent_count = rental_count_month(june, 6, 2005)

print(may_rent_count, june_rent_count)

             rentals_5_2005
customer_id
1                         2
2                         1
3                         2
5                         3
6                         3
...                     ...
594                       4
595                       1
596                       6
597                       2
599                       1

[520 rows x 1 columns]              rentals_6_2005
customer_id
1                         7
2                         1
3                         4
4                         6
5                         5
...                     ...
595                       2
596                       2
597                       3
598                       1
599                       4

[590 rows x 1 columns]

In [9]:
# Create a Python function called compare_rentals that takes two DataFrames as 
# input containing the number of rentals made by each customer in different months and 
# years. The function should return a combined DataFrame with a new 'difference' column,
# which is the difference between the number of rentals in the two months.

def compare_rentals(df1, df2):
    df1_grouped = df1.groupby('customer_id')
    df1_rental_counts = df1_grouped['rental_id'].count()
    df2_grouped = df2.groupby('customer_id')
    df2_rental_counts = df2_grouped['rental_id'].count()
    data_df = pd.DataFrame({
        'Rental per month 1': df1_rental_counts,
        'Rental per month 2': df2_rental_counts,
    })
    data_df[['Rental per month 1', 'Rental per month 2']] = data_df[['Rental per month 1', 'Rental per month 2']].fillna(0)
    data_df['Difference'] = data_df['Rental per month 1'] - data_df['Rental per month 2']
    print(data_df)

compare_rentals(may, june)

             Rental per month 1  Rental per month 2  Difference
customer_id
1                           2.0                 7.0        -5.0
2                           1.0                 1.0         0.0
3                           2.0                 4.0        -2.0
4                           0.0                 6.0        -6.0
5                           3.0                 5.0        -2.0
...                         ...                 ...         ...
595                         1.0                 2.0        -1.0
596                         6.0                 2.0         4.0
597                         2.0                 3.0        -1.0
598                         0.0                 1.0        -1.0
599                         1.0                 4.0        -3.0

[598 rows x 3 columns]